/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//@font-face {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 400;
//  src: url('../../../../../assets/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
//}

// font family
$font-family-sans-serif: 'Montserrat', !default;
$presentation-font-size-root: 36px;

/*-- scss:rules --*/

.reveal .slide-logo {
   max-height: 4em !important;
  position: fixed;
  top: 0;
  right: 0;
}