/*-- scss:defaults --*/
// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// font family
$font-family-sans-serif: 'Montserrat', !default;
$presentation-font-size-root: 36px;

/*-- scss:rules --*/

.reveal .slide-logo {
   max-height: 4em !important;
  position: fixed;
  top: 0;
  right: 0;
}